#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 2rem;
}

.header {
  margin-top: 0;
  margin-bottom: 2rem;
}

.success {
  /* color: #90ee90; */
  color: #21d375;
}

.danger {
  /* color: #FF0000; */
  color: #f44336;
}
.balance {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.form {
  margin-bottom: 1.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.list__item {
  display: flex;
  justify-content: space-between;
}

.list__item-name {
  text-transform: capitalize;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
